.lodging-list > header {
    height: 6vh;
    padding: 0px 50px 0px 50px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #666666;
}

.lodging-list > header > button {
    border-radius: 10px;
    height: 40px;
    color: #fff;
    font-size: 18px;
    background-color: #282c34;
    width: 200px;
}

.product-info {
    display: flex;
    flex-flow: row wrap;
    width: 70%;
    margin: auto;
    font-size: 18px;
    margin: 3em auto 50px auto;
}

.active {
    background-color: #007492;
    color: #ffffff;
}

.lodging-detail {
    width: 30%;
    margin: auto;
    margin-bottom: 50px;
}

.lodging-detail > button {
    width: 100%;
    border-radius: 10px;
    height: 40px;
    color: #fff;
    font-size: 18px;
    background-color: #282c34;
}

.lodging-detail-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

image{
    max-width: 80%;
}